<header class="row  ps-4">
    <div class="col-md-8 header-icon">
        <img src="assets/menu.png" />
        <img src="assets/header-icon.png" class="ps-3" />
    </div>
    <div class="col-md-4 d-flex important-header-info">
        <div class=" phone-icon">
            <img src="assets/call-calling.png" />
            <p class="pt-3">9152 29 29 29</p>
        </div>
        <div class="notification-info d-flex">
        <div class="important-header-icon position-relative" >
            <img src="assets/notification.png" />
            <img src="assets/shopping-cart.png"  />
        </div>
        <div class=" person-info d-flex">
            <img src="assets/Ellipse.png" />
            <div class="person-detail">
                <p class="pt-2">Elvis Bessan</p>
                <img src="assets/progress.png" />
            </div>
            <div ><i class="fa-solid fa-caret-down ps-1" style="color:grey"></i></div>
        </div>
        </div>
    </div>
</header>


