
<section class="container w-41 m-auto  py-5 mt-5 card ">
    <div class="w-70 pt-2 m-auto ">
    <div class="company-logo d-flex justify-content-center mb-5">
        <img src="assets/header-icon.png"  />
    </div>
    <h2>Log In</h2>
    <p class="accunt-create-section">Need a hostbook account? <span style="color: #AF1238">Create an Account</span> </p>
    <form class="position-relative">
        <div class="mb-3">
        <input type="text" class="form-control" placeholder="Email" >
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Password" >
        <img src="assets/eye-slash.png" class="eye-icon" />
    </div>
    <div class="forget-password-section mb-3">
        <a style="color:#AF1238" class="text-decoration-none" href="#" >Forgot Password</a>
    </div>
    <div class="mb-3">
        <button class="login-button vertical-align-center" type="butto n">Log In</button>
    </div>
    <div class="mb-3 " >
        <button class="otp-button vertical-align-center" type="button">Resend OTP</button>
    </div>
    <div class="pb-5">
        <button class="login-with-google vertical-align-center " type="button"><img src="assets/Google-logo.png" /> Log In with Google </button>
    </div>
    </form>


</div>
</section>








