.w-50{
    width:50%;
}
.w-30{
    width:30%;
}
.w-70{
    width:70%;
}
.w-80{
    width:80%;
}
.w-41{
    width: 41%;
}
.mt-6{
    margin-top: 6rem;
}
body{
    font-family: 'Mullish',sans-serif;
}

.row{
    --bs-gutter-x: 0rem;
}

.main-container{
    position: relative;
    top: 72px;
    left: 15%;
    width: calc(100% - 15%);
}